# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# IDEs and editors
.idea/
.vscode/
*.swp

# Django
db.sqlite3
*.log

# OS-specific
.DS_Store
Thumbs.db

.github/
