{% extends "base.html" %}

{% block title %}
<title>Contact Us - FuurEver</title>
{% endblock %}

{% block maincontent %}
    
        <!-- Contact Section with Form and Info -->
        <section class="section">
            <div class="container">
                <div class="columns is-multiline">
                    <!-- Contact Information -->
                    <div class="column is-two-fifths is-half-tablet">
                        <h2 class="title is-size-3 is-size-4-mobile">Contact Us</h2>
                        <p><strong>Email: </strong> <br>fuurever@gmail.com</p>
                        <p><strong>Phone: </strong> <br> +01 5432167 <br>  +977 9876543210</p>
                        <p><strong>Address: </strong><br> Jamsikhel, Lalitpur</p>
                            
                        <h2 class="title is-size-4 is-size-5-mobile mt-5">Hours</h2>
                        <p><strong>Monday - Friday:</strong> <br> 9:00 AM - 6:00 PM</p>
                        <p><strong>Saturday:</strong> <br>10:00 AM - 4:00 PM</p>
                        <p><strong>Sunday:</strong><br> Closed</p>
                    </div>
                    <!-- Contact Form -->
                    <div class="column is-half-tablet">
                        <h2 class="title is-size-3 is-size-4-mobile">Send Us a Message</h2>
                        <p class="subtitle">We'd love to hear from you!</p>
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input" type="text" name="name" placeholder="Your Full Name" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input" type="email" name="email" placeholder="Your Email Address" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                    <textarea class="textarea" name="message" placeholder="Your Message" required></textarea>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link" type="submit">Submit</button>
                                </div>
                                <div class="control">
                                    <button class="button is-light" type="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                        
                    </div> 
                </div>
            </div>
        </section>
    
        <!-- Map Section -->
        <section class="section">
            <div class="container">
                <h2 class="title is-size-3 is-size-4-mobile has-text-centered">Find Us</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7066.08551746543!2d85.29389648395755!3d27.68507329499738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb184628029137%3A0x1dae687495f17539!2sJhamsikhel%2C%20Lalitpur%2044600!5e0!3m2!1sen!2snp!4v1736600199650!5m2!1sen!2snp" allowfullscreen="" loading="lazy" >
                    </iframe>
            </div>
        </section>
    
        <!-- Book Now Section -->
  <section class="section has-background-link-soft" id="book-now">
    <div class="container has-text-centered">
      <p class="title is-size-4 is-size-5-touch">Ready to provide the best care for your furry friend?</p>
      <p class="subtitle is-size-6-touch">Schedule your service today!</p>
      <div>
        <a href="#booking-form" class="button is-link">Book Now</a>
      </div>
    </div>
  </section>

{% endblock %}