{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Home - FuurEver</title>
{% endblock %}

{% block maincontent %}

  <!-- Hero Section with Text Overlay -->
  <section class="hero is-fullheight">
    <img class="hero-background" src="{% static 'img/dog-eating.jpg' %}" alt="Dog eating image">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white is-size-1 is-size-3-mobile">Welcome to FuurEver</h1>
        <p class="subtitle has-text-white">Your pet, our priority</p>
        <a href="{% url 'services_list' %}" class="button is-light">Our Services</a>
      </div>
    </div>
  </section>

  <!-- About Us Section -->
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <figure class="image is-3by2 is-half-tablet is-hidden-mobile">
            <img src="{% static '\img\dog.jpg' %}" alt="Dog image">
          </figure>
        </div>
        <div class="column is-half-tablet">
          <h2 class="title is-size-5-touch mb-3">Happy Pets, Happy Humans</h2>
          <p class="mb-4 subtitle is-size-6-touch ">At FuurEver, we provide the best care for your pets with love and dedication. From walking to veterinary care, we ensure your furry friends are happy and healthy.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos incidunt molestiae nulla fugit saepe! Non similique, quae necessitatibus error culpa aperiam rem laudantium reprehenderit quia. Commodi, magnam aliquid! Esse, consequuntur.
          </p>
          <a href="{% url 'aboutus' %}" class="button is-link ">Learn more</a>
        </div>
      </div>
    </div>
  </section>

<!-- Blog Section -->
<div class="section">
  <div class="container">
    <h2 class="title has-text-centered">Our Latest Blog</h2>
    <div class="columns is-multiline is-centered is-variable is-4">
      {% for post in blogs_posts %}
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="card blog-card has-background-link-soft is-shadowless card-responsive">
          <div class="card-image">
            <figure class="image is-3by2">
              {% if post.image %}
              <img src="{{ post.image.url }}" alt="{{ post.title }}">
              {% endif %}
            </figure>
          </div>
          <div class="card-content">
            <p class="is-size-7 has-text-grey">{{ post.created_at|date:"M d, Y" }} | {{ post.category.name }}</p>
            <h3 class="title is-5">{{ post.title }}</h3>
            <p>{{ post.summary|truncatewords:20 }}</p>
          </div>
          <div class="card has-background-link-soft is-shadowless">
            <a href="{% url 'blog_detail' post.slug %}" class="button is-text">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

  <!-- Our Services Section -->
  
   <div class="section">
    <div class="container">
      <h2 class="title has-text-centered mb-5">Our Services</h2>
    <div class="columns is-multiline">
      {% for category in categories %}
      <div class="column is-one-quarter mb-2">
          <a href="{% url 'services_detail' category.slug %}" class="has-text-text">
              <div class="columns is-vcentered">
                  <div class="column is-narrow has-text-centered">
                      <figure class="image is-64x64 is-centered">
                          <img src="{{ category.image.url }}" alt="{{ category.name }}">
                      </figure>
                  </div>
                  <div class="column is-centered">
                      <h4 class="is-size-4 has-text-weight-bold">{{ category.name }}</h4>
                  </div>
              </div>
          </a>
      </div>
      {% endfor %}
  </div>
   </div>
   </div>

    
  <!-- Book Now Section -->
  <section class="section has-background-link-soft" id="book-now">
    <div class="container has-text-centered">
      <p class="title is-size-4 is-size-5-touch">Ready to provide the best care for your furry friend?</p>
      <p class="subtitle is-size-6-touch">Schedule your service today!</p>
      <div>
        <a href="{% url 'services_list' %}#booking-form" class="button is-link">Book Now</a>
      </div>
    </div>
  </section>

{% endblock %}
