{% extends "base.html" %}

{% block title %}
<title>blog</title>
{% endblock %}

{% block maincontent %}
  <div class="box is-shadowless">
    <h1 class="title is-2 is-size-3-mobile has-text-centered mb-2">Our Blog</h1>
    <p class="subtitle has-text-centered">Stay updated with the latest tips and information about dog care.</p>
  </div>

    <section class="section">
      <div class="container">

        <div class="columns">
          <!-- Sidebar for Categories -->
          <div class="column is-one-quarter">
            <aside class="menu">
              <p class="menu-label">Categories</p>
              <ul class="menu-list">
                {% for category in categories %}
                <li>
                  <a href="#">{{ category.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </aside>
          </div>

          <!-- Blog Posts Section -->
            <div class="column is-three-quarters">
                {% for post in posts %}
                <div class="card mb-4">
                <div class="card-content">
                    <div class="media">
                    <div class="media-left ">
                        {% if post.image %}
                        <figure class="image is-128x128">
                          <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        </figure>
                        {% endif %}
                    </div>
                    <div class="media-content">
                        <h2 class="title is-4 is-size-5-mobile">{{ post.title }}</h2>
                        <p class="subtitle is-6 mt-2">By: {{ post.author }} | {{ post.created_at|date:"M d, Y" }}</p>
                        <p class=" has-text-weight-medium has-text-grey">{{ post.category.name }}</p>
                    </div>
                    </div>
                    <div class="content is-marginless">
                      <p>{{ post.summary }}</p>
                      <a href="{% url 'blog_detail' post.slug %}" class="button is-link is-light mt-2">Read More</a>
                    </div>
                    
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
  </section>
  
{% endblock %}
